# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Unneeded files

src/components/HelloWorld.vue
src/App-copy.vue
src/components/HeaderNavigation copy 2.vue
src/components/HeaderNavigation copy.vue
src/views/Work copy.vue
src/components/ProjectModal copy.vue
src/components/ProjectModal copy 2.vue
src/components/ProjectModal copy 3.vue