@use "../abstracts" as *;

/*  -----------------
    BASE STYLES
---------------------  */

html,
body {
    font-family: $base-font;
    font-weight: 300;
    font-size: 1em;
    position: relative;
    scroll-behavior: auto;
    background: var(--clr-bg);
    overflow-x: hidden;
}

h2,
h3,
h4,
h5,
h6 {
    font-family: $base-font;
    line-height: 1;
}

h1 {
    font-family: $secondary-font;
    line-height: 1;
}